@model KeyValuePair<List<Todo>, List<Todo>>
@{
    ViewData["Title"] = "List";
}
<head>
    <style>
        td, th {
            padding: 5px;
            text-align: center;
            border: solid;
        }

        th {
            background-color: aqua;
        }
    </style>
</head>
<html>
<body>
    <br /><br />
    <h3 style="text-align: center">Todo list for @ViewBag.UserName</h3>
    <br /><br />
    <form method="post" asp-controller="Home" asp-action="Add" id="addForm"></form>
    <table style="width:100%">
        <tr>
            <th width="30%" ;>What</th>
            <th width="20%" ;>Deadline</th>
            <th width="20%" ;>Complete</th>
            <th width="15%" ;>Days left</th>
            <th width="15%" ;>Delete</th>
        </tr>
        @foreach (Todo todo in Model.Key)
        {
            <tr>
                <td>@todo.What</td>
                @{
                    if (todo.DeadLine == DateTime.Today)
                    {
                        <td>Today</td>
                    }
                    else if (todo.DeadLine == DateTime.Today.AddDays(1))
                    {
                        <td>Tomorrow</td>
                    }
                    else if (todo.DeadLine.AddDays(1) == DateTime.Today)
                    {
                        <td>Yesterday</td>
                    }
                    else if (todo.DeadLine == default(DateTime))
                    {
                        <td>Unknown</td>
                    }
                    else if (todo.DeadLine.Year == DateTime.Now.Year)
                    {
                        <td>@todo.DeadLine.ToString("MM/dd")</td>
                    }
                    else
                    {
                        <td> @todo.DeadLine.ToString("yyyy/MM/dd") </td>
                    }
                }
                <td>
                    <b><a asp-controller="Home" asp-action="Complete" asp-route-What="@todo.What" asp-route-UserName="@todo.UserName">Done</a></b>
                </td>
                <td>
                    @if (todo.DeadLine != default(DateTime))
                    {
                        if (todo.DeadLine.Date < DateTime.Now.Date)
                        {
                            <b style="color: red">EXPIRED</b>
                        }
                        else
                        {
                            var dif = todo.DeadLine.Subtract(DateTime.Now.Date).Days;
                            <b>@dif</b>
                        }
                    }
                    else
                    {
                        <b>---</b>
                    }
                </td>
                <td>
                    <b><a asp-controller="Home" asp-action="Clear" asp-route-What="@todo.What" asp-route-UserName="@todo.UserName">Clear</a></b>
                </td>
            </tr>
        }
        <tr>
            <td style="border: 0;"><input style="padding: 4px; width: 100%;" type="text" name="What" form="addForm"></td>
            <td style="border: 0;"><input style="padding: 4px; width: 100%;" type="text" name="DeadLine" form="addForm"></td>
            <td style="border: 0;"><input style="padding: 4px; width: 100%;" type="submit" value="Add node" form="addForm"></td>
            <td style="border: 0;"></td>
            <td style="border: 0;"></td>
        </tr>
    </table>

    <br /><br />
    <h3 style="text-align: center">Completed Todo list for @ViewBag.UserName</h3>
    <br /><br />

    <table style="width:100%">
        <tr>
            <th width="30%; ">What</th>
            <th width="20%; ">Deadline</th>
            <th width="20%; ">Actual date</th>
            <th width="15%; ">Performance</th>
            <th width="15%; ">Delete</th>
        </tr>
        @foreach (Todo todo in Model.Value)
        {
            <tr>
                <td>@todo.What</td>
                @{
                    if (todo.DeadLine.Date == DateTime.Today.Date)
                    {
                        <td>Today</td>
                    }
                    else if (todo.DeadLine.Date == DateTime.Today.AddDays(1).Date)
                    {
                        <td>Tomorrow</td>
                    }
                    else if (todo.DeadLine.AddDays(1).Date == DateTime.Today.Date)
                    {
                        <td>Yesterday</td>
                    }
                    else if (todo.DeadLine == default(DateTime))
                    {
                        <td>Unknown</td>
                    }
                    else if (todo.DeadLine.Year == DateTime.Now.Year)
                    {
                        <td>@todo.DeadLine.ToString("MM/dd")</td>
                    }
                    else
                    {
                        <td>@todo.DeadLine.ToString("yyyy/MM/dd")</td>
                    }

                    if (todo.ActualDate.Date == DateTime.Today.Date)
                    {
                        <td>Today</td>
                    }
                    else if (todo.ActualDate.AddDays(1).Date == DateTime.Today.Date)
                    {
                        <td>Yesterday</td>
                    }
                    else if (todo.ActualDate.Year == DateTime.Now.Year)
                    {
                        <td>@todo.ActualDate.ToString("MM/dd")</td>
                    }
                    else
                    {
                        <td>@todo.ActualDate.ToString("yyyy/MM/dd")</td>
                    }

                    if (todo.DeadLine == default(DateTime))
                    {
                        <td>Unknown</td>
                    }
                    else if (todo.ActualDate.Date < todo.DeadLine.Date)
                    {
                        <td>Good</td>
                    }
                    else if (todo.ActualDate.Date > todo.DeadLine.Date)
                    {
                        <td>Bad</td>
                    }
                    else
                    {
                        <td>OK</td>
                    }
                }
                <td>
                    <b><a asp-controller="Home" asp-action="Clear" asp-route-What="@todo.What" asp-route-UserName="@todo.UserName">Clear</a></b>
                </td>
            </tr>
        }
    </table>
    <br /><br />
    <form method="get" asp-controller="Home" asp-action="SignOut" id="SignOutForm"></form>
    <form method="get" asp-controller="Home" asp-action="Remove" id="RemoveForm"></form>
    <input style="width: 15%;" type="submit" value="Sign Out" form="SignOutForm" />
    <input style="padding-left: 10px; width: 15%;" type="submit" value="Remove Account" form="RemoveForm" />
</body>
</html>