@model List<Todo>
@{
    ViewData["Title"] = "List";
}

<html>
<body>
    <br /><br />
    <h3>Todo list for @ViewBag.Name</h3>
    <br /><br />
    <form method="post" asp-controller="Home" asp-action="Add">
        <input type="hidden" value="@ViewBag.PersonId" name="PersonId" />
    <table>
        <tr>
            <th>What</th>
            <th>Deadline</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Todo todo in Model)
        {
        <tr>
            <td>@todo.What</td>
           @{if (todo.DeadLine == DateTime.Today)
            {
                <td>Today</td>
            }
            else if (todo.DeadLine == DateTime.Today.AddDays(1))
            {
                <td>Tomorrow</td>
            }
            else if (todo.DeadLine.AddDays(1) == DateTime.Today)
            {
                <td>Yesterday</td>
            }
            else if (todo.DeadLine == default(DateTime))
            {
                <td>Unknown</td>
            }
            else
            {
                if (todo.DeadLine.Year == DateTime.Now.Year)
                {
                    <td>@todo.DeadLine.ToString("MM/dd")</td>
                }
                else
                {
                    <td>@todo.DeadLine.ToString("yyyy/MM/dd")</td>
                }
            }
            }
            <td><a asp-controller="Home" asp-action="Complete" asp-route-PersonId=@todo.PersonId asp-route-what=@todo.What
                   asp-route-deadline=@todo.DeadLine>Complete</a> </td>

           @{ if (todo.DeadLine.Date < DateTime.Now.Date && todo.DeadLine != default(DateTime))
            {
                 <td><b>EXPIRED</b></td>
            }
            else
            {
                 <td></td>
            }
            }
        </tr>
        }
        <tr>
            <td><input type="text" name="What"></td>
            <td><input type="text" name="DeadLine"></td>
            <td><input type="submit" value="Add node"></td>
            <td></td>
        </tr>
    </table>
        </form>
</body>
</html>